body{ 
    margin: none;
} 



.header_container{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 20px;  
    padding: 20px; 
    text-transform: capitalize; 
    
}  

.underline{  
    font-family: Jura; 
    font-weight: bold; 
    font-size: 64px;  
    position: relative; 
    display: inline-block;
} 

.underline::after{ 
    content: ""; 
    background-color: #F39414; 
    z-index: -1; 
    width: 100%; 
    height: 77px; 
    position: absolute; 
    left: 0; 
    bottom: -3px; 
}

.logo_container{ 
    display: flex; 
    align-items: center; 
} 

 .logo_name{ 
    font-family: Kanit; 
    font-weight: bolder;
    text-transform: uppercase; 

}  

 

                     /* TITLE E IMG */
.title_container{ 
    display: flex;    
    align-items: center;  
    justify-content: space-between;  
    padding-top: 5%; 
    padding-left: 10%;  
    padding-right: 10%;
    padding-bottom: 5%;
   
}  

.titles{   
    font-family: jura;  
    text-align: center;
}

.title_1{  
    font-size: 130px;  
    margin: 0;  
    text-transform: uppercase;  
} 

.title_2{  
    margin: 0;
    font-size:30px;   
}  

.elements{ 
    margin-left: 20px;
} 




                          /* ESCAPE ROOM */

.escaperom_container{   
    position: relative;
    border-radius: 25px;
    background: #D9D9D9;
    width: 90%;
    height: 502px; 
    margin: 5% auto;
} 

.escape_info{   
    margin: 5%;    
    text-align:left; 
} 

.escape_title{ 
    font-family: Jura; 
    font-size: 50px; 
    font-weight: bold; 
    position: relative; 
    background-color: #F39414;
} 


.escape_content{ 
    font-family: Space Mono;  
    font-size: 24px; 
} 

.escape_btn{  
    border: none;
    border-style: solid; 
    background-color: #F39414; 
    color: white; 
    border-color: #F39414; 
    border-radius: 20px; 
    width: 229px; 
    height: 75px; 
    font-size: 24px; 
    font-family: Space Mono; 
    margin: 10px auto; 
    font-family: Jura; 
    font-weight: bold; 
}  

.escape_btn:hover{ 
    background-color:#969695 ; 
    border-color: #969695;
}

.all_info{  
    position: relative;  
    display: flex; 
    text-align: center; 
    margin: 0 auto; 
    padding: 20px;
} 

.escape_img{  
   margin-right: 5%;    
    width: 450px; 
    height: 386px;  
} 

                             /* FOOTER */
.footer_part1{  
    padding: 5%;
    display: flex; 
    background-color: #969695; 
    margin: 0;
} 

.circle{ 
    border-style: solid; 
    border-radius: 50%; 
    background-color: white; 
    width: 200px; 
    height: 200px; 
    border-color: white; 
    font-size: 45px; 
    font-family: Jura; 
    font-weight: bold;   
    display: flex; 
    justify-content: center; 
    align-items: center;   
    padding:1%;
}  

.info_part1{ 
    padding-left: 10%; 
    font-size: 24px; 
    font-family: Space Mono; 
    color: white; 
    
} 

.footer_menu{
    font-family: Space Mono; 
    font-weight: bold;  
    text-transform: uppercase; 
    font-size: 24px;
}

.logo_footer{ 
    margin-left: auto;
}



.footer_part2{ 
    background-color: #D9D9D9; 
    margin: 0; 
    display: flex; 
    padding-top: 5%; 
    padding-bottom: 5%; 
    justify-content: space-between;
} 

.contacts_label{ 
    font-family: Space Mono;  
    font-weight: bold;
    font-size: 24px; 
    text-transform: uppercase; 
} 
.contacts_info{ 
    font-family: Space Mono;  
    font-size: 24px;  
} 
 
.contacts{ 
    margin-left:5%;
} 

.logo_esmad{ 
    float: right; 
    height: 200px; 
    margin-right: 3% ;
}

.footer_part3{ 
    background-color: black; 
    height: 70px; 
}















