body{  
    background-color: #D9D9D9; 
    margin: 0;
} 

header{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-size: 20px;  
    padding: 20px;  
    margin: 1%;
} 

.homeBtn{  
   border: none;  
   background-color: #D9D9D9;
} 

.homeBtn:hover{ 
    background-color:#969695 ; 
    border-color: #969695;
}

.logo{  
    height: auto;
    width: 300px; 
    margin: 2%;
} 

.admin_users{ 
    font-family: Jura; 
    font-size: 35px; 
    font-weight: bold; 
    position: relative; 
    background-color: #F39414; 
    margin: 5%; 
    margin-top: 5%; 

} 

.tabela{ 
    width: 90%; 
    height: fit-content; 
    border: solid black 1px;   
    margin: 2% 5%; 
    font-family: Space Mono; 
    font-size: 20px;
} 

.header{ 
    background-color: #FFFFFF; 
    font-family: Jura; 
    font-size: 30px;
} 

.btns_admin{ 
    flex-direction: row; 
    display: flex;
    justify-content: space-evenly; 
    font-family: Space Mono;  
    font-style: normal;  
    padding-bottom: 2%;  
    margin: 2%;
} 

.control_btn{ 
    border-style: solid;  
    border-radius:20px; 
    color: white;  
    background-color: black;
    width: 300px; 
    height: 65px; 
    font-family: Space Mono;  
    font-style: normal;   
    font-size: 24px; 
} 

.control_btn:hover{ 
    background-color:#969695 ; 
    border-color: #969695;
}  
 
/* enivar notificação */
.message_popup { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}  

.message {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888; 
    border-radius: 45px;
    width: 80%;  
    text-align: center; 
    
}

.message_title { 
    font-family: Jura; 
    font-size: 30px;  
    border: #F39414; 
    background-color: #F39414; 
}

.write_area {
    width: 100%;
    height: 200px;
    margin-bottom: 10px; 
    background-color: #D9D9D9; 
    border-color: #D9D9D9; 
    border-radius: 10px;
}

.message_btns {
    text-align: center;
    
}

.btn_sendNot { 
    margin: 2%;  
    border-style: solid;  
    border-radius: 20px; 
    color: white;  
    background-color: black;
    width: 120px; 
    height: 35px; 
    font-family: Space Mono;  
    font-style: normal;   
    font-size: 20px; 
}


/* Post */  
.post_title{ 
    font-family: Jura; 
    font-size: 35px; 
    font-weight: bold; 
    position: relative; 
    background-color: #F39414; 
    margin: 5%;
} 


.add_post_btn{ 
    border-style: solid;  
    border-radius:20px; 
    color: white;  
    background-color: black;
    width: 300px; 
    height: 65px; 
    font-family: Space Mono;  
    font-style: normal;   
    font-size: 24px; 
    margin:2% ;
} 

.post_btns{ 
    text-align: center;  
    margin-bottom: 2%;
} 




/* escape room */ 

.questions_title{ 
    font-family: Jura; 
    font-size: 35px; 
    font-weight: bold; 
    position: relative; 
    background-color: #F39414; 
    margin-left: 5%;  
    margin-right: 5%; 
    margin-top: 5%;
} 
 

.footer{ 
    height: 90px; 
    width: 100%; 
    background-color: black; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
} 

.img_footer{ 
    height: 44px; 
    padding: 20px;
} 




