.my-custom-popup {
    background-color: #D9D9D9; 
    font-family: 'Space Mono', monospace; 
    font-size: 15px; 
    border: none; 
    border-radius: 45px; 
    color: black;  

}  

.my-custom-content { 
    color: #F39414;  
   
}  

.swal2-container .swal2-styled.swal2-confirm {
    border: 0; 
    border-radius: 10px; 
    background-color: black; 
    color: #fff; 
    font-size: 15px; 
    padding: 10px 20px; 
    font-family: 'Space Mono'; 
}  
.swal2-container .swal2-styled.swal2-cancel {
    border: 0; 
    border-radius: 10px; 
    background-color: black; 
    color: #fff; 
    font-size: 15px; 
    padding: 10px 20px; 
    font-family: 'Space Mono'; 
} 

